<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>emodus</title>

    <meta name="description" content="emodus · {{ page.description }}" />

    <link href="/styles.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="TODO" />
    <link rel="shortcut icon" href="/favicon.ico" />
    {% comment %}
    <meta name="apple-mobile-web-app-title" content="emodus" />
    <meta name="application-name" content="emodus" />
    {% endcomment %}
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@500;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Load React. -->
    <script
      src="https://unpkg.com/react@18/umd/react.production.min.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
      crossorigin
    ></script>
    <!-- This will allow us to use JSX in React components. -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@alch/alchemy-web3@1.4.6/dist/alchemyWeb3.min.js"></script>

    {{ content }}

    <!-- prettier-ignore -->
    {% comment %}
    {% include _debug.html %}
    {% endcomment %}
  </body>
</html>
